body.body-green(style="background-color: #000;")
    .page-wrapper
        #doc-wrapper.doc-wrapper
            .container
                #doc-header.doc-header.text-center
                    h1.doc-title
                        i.icon.fa.fa-paper-plane
                        |  Anthony Petty
                    .meta
                        i.far.fa-clock
                        |  Last updated: 
                        span#lastUpdated
                #flip-container.flip-container
                    .flipper
                        #sourceCodeSide.doc-body.row.front
                            .doc-content.col-md-12.col-12.order-1
                                button#doFlip(type="button" class="btn btn-success") Run Me!
                            .doc-content.col-md-12.col-12.order-1
                                #mainContentSourceCode.content-inner
                        #renderedSide.doc-body.row.back
                            .doc-content.col-md-12.col-12.order-1
                                #mainContentRendered.content-inner