body.body-green
    .page-wrapper
        .doc-wrapper
            .container
                #doc-header.doc-header.text-center
                    h1.doc-title
                        i.icon.fa.fa-paper-plane
                        |  Anthony Petty
                    .meta
                        i.far.fa-clock
                        |  Last updated: 
                        span#lastUpdated
                .doc-body.row
                    .doc-content.col-md-9.col-12.order-1
                        #mainContent.content-inner
                            section#aboutme-section.doc-section
                                h2.section-title About Me
                                .section-block
                                 | asdf
                            section#installation-section.doc-section
                                h2.section-title Installation
                                #step1.section-block
                                    h3.block-title Step One
                                    p
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                                    .code-block
                                        h6 Default code example:
                                        p
                                            code bower install <package>
                                        p
                                            code npm install <package>
                                    #step2.section-block
                                        h3.block-title Step Two
                                        p
                                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                        .row
                                            .col-md-6.col-12
                                                h6 Un-ordered list example
                                                ul.list
                                                    li Lorem ipsum dolor sit amet.
                                                    li Aliquam tincidunt mauris.
                                                    li
                                                        | Ultricies eget vel aliquam libero.
                                                        ul
                                                            li Turpis pulvinar
                                                            li Feugiat scelerisque
                                                            li Ut tincidunt
                                                    li Pellentesque habitant morbi.
                                                    li Praesent dapibus, neque id.
                                            .col-md-6.col-12
                                                h6 Ordered list example
                                                ol.list
                                                    li Lorem ipsum dolor sit amet.
                                                    li Aliquam tincidunt mauris.
                                                    li
                                                        | Ultricies eget vel aliquam libero.
                                                        ul
                                                            li Turpis pulvinar
                                                            li Feugiat scelerisque
                                                            li Ut tincidunt
                                                    li Pellentesque habitant morbi.
                                                    li Praesent dapibus, neque id.
                                        #step3.section-block
                                            h3.block-title Step Three
                                            p
                                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                                        section#code-section.doc-section
                                            h2.section-title Code
                                            .section-block
                                                p
                                                    a(href='https://prismjs.com/', target='_blank') PrismJS
                                                    |  is used as the syntax highlighter here. You can 
                                                    a(href='https://prismjs.com/download.html', target='_blank') build your own version
                                                    |  via their website should you need to.
                                            #html.section-block
                                                .code-block
                                                    h6 HTML Code Example