head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    meta(name="description" content="Anthony Petty Dot Com")
    link(rel="icon" href="assets/favicon.ico")

    block title
        title Anthony Petty

    block styles